*,
* ::before
* ::after {
    box-sizing: border-box;
}
body {
    background: #FFF;
    font-family: Roboto, sans-serif;
    color: #434455;
}
section {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0%;
}
button {
    cursor: pointer;
}
h1,
h2,
h3,
p,
ul, 
ol {
    margin: 0;
    padding:  0;
    list-style: none;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

@media (min-width: 320px) {
    body {
        width: 320px;
    }
}

.container {
    width: 1158px;
    margin: 0 auto;
   
}
@media screen and (min-width: 320px){
    .container{
        width: 320px;
        margin: 0 auto;
    }
}


.header-main{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);;
}
@media screen and (min-width: 320px) {
    .header-main {
        width: 320px;
        height: 56px;
    }
}

.nav-container-general{
    padding-top: 24px;
    padding-bottom: 24px;
    
}
@media screen and (min-width: 320px){
    .nav-container-general{
        padding-top: 17px;
        padding-bottom: 17px;
        
    }
}

.general-container{
    
}
@media screen and (min-width: 320px) {
    .general-container{
        width: 320px;
        height: 56px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
    }
}
    

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    height: 21px;
    text-decoration: none;
}

.logo-studio {
    color: #2e2f42;
    height: 21px;
}
.nav-container-btn{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
       
width: 24px;
height: 24px;
cursor: pointer;
fill: #2F2F37;
}


.nav-container-logo{
    margin-right: 76px;
    text-decoration: none;
}


.nav-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 40px;
    
    
}
@media screen and (min-width: 320px){
    .nav-container{
display: none;
    }
}
.nav-conteiner-item{
position: relative;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    width: 48px;
    height: 24px;
    padding: 24px 0 24px 0;
    gap: 40px;
    position: relative;
color: #434455;
    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current{
    color: #404bbf;
    position: relative;
}

.current::after{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    margin: 0 auto;
    margin-top: 20px;
    gap: 20px;
    border-radius: 2px;
    background-color: #404BBF;
    color: #404BBF;
   
}

.nav-link:last-child{
    margin-right: 0;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.nav-address {
    font-style: normal;
    margin-left: auto;
}
@media screen and (min-width: 320px) {
    .nav-address {
        display: none;
    }
}
.nav-container-address {
    display: flex;
    gap: 40px;
    
}


.nav-address-mail {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-address-mail:hover {
    color: #404bbf;
}

.nav-address-mail:focus {
    color: #404bbf;
}
@media screen and (min-width: 320px){
.mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: #FFF;
}
}
@media screen and (min-width: 320px){
.mobile-menu-btn-close{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    background-color: #E7E9FC;
    fill: #2E2F42;
    border: 1px solid rgba(0, 0, 0, 0.10);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
}
@media screen and (min-width: 320px){
.mobile-menu-conteiner{
    position: relative;
}
}

.first-section {
    max-width: 1440px;
    background-position: center;
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
    margin: 0 auto;
}


.first-section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    max-width: 496px;
    margin-bottom: 48px;
}
@media screen and (min-width: 320px) {
    .first-section-title{
        width: 288px;
        height: 160px;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.12;
            text-transform: capitalize;
    }
}

.first-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    height: 56px;
    margin: 0 auto;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-button:hover {
    background-color: #404BBF;
}

.first-section-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-head{
    padding: 120px 0;
}
@media screen and (min-width: 320px){
    .second-section-head{
        width: 320px;
    }
}
.second-section-main{
    gap: 24px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    list-style: none;
}
@media screen and (min-width: 320px){
    .second-section-main{
        width: 288px;
        gap: 72px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.second-section-item{
   text-align: justify;
}
.icon-second-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
@media screen and (min-width: 320px){
    .icon-second-section{
        width: 288px;
    }
}

.second-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
@media screen and (min-width: 320px){
    .second-section-title{
        text-align: center;
    }
}

.second-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.third-section {
    background-color: #F4F4FD;
    
}


.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.third-section-main{

}
@media screen and (min-width: 320px){
    .job-title{
        padding-top: 32px;
        padding-bottom: 32px;
        margin-bottom: 72px;
    }
}

.third-section-photo {
    background-color: #FFFFFF;
   
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}
@media screen and (min-width: 320px){
    .third-section-photo{
        display: block;
        max-width: 100%;
        margin-left: 28px;
        margin-right: 28px;
    }
}

.job-title{

}

.third-section-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.third-section-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.third-section-icon{
display: flex;
justify-content: center;
gap: 24px;
}

.third-section-icon-item{
    width: 40px;
    height: 40px;
    
}

.third-section-link{
    text-decoration: none;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.third-section-link:hover{
    background-color: #404bbf;
}

.third-section-link:focus{
    background-color: #404bbf;
}

.third-section-dsr {
fill: #f4f4fd;
}

.fourth-section{
    
}

.title-portfolio {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.title-portfolio-main{
   
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
}

.portfolio-list{
  
transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px){
    .portfolio-list{
        width: 288px;
        margin: 0 auto;
    }
}

.box{
position: relative;
overflow: hidden;
}

.portfolio-list:hover .overlay-text {
transform: translatey(0);
opacity: 1;
}

.overlay-text{
position: absolute;
top: 0;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
padding: 40px 32px;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-list:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-list:focus{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.description-name{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}


.description-portfolio {
color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.description-portfolio-text {
    color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer-info {
    background-color: #2e2f42;
    
}

.footer-main{
    
}
@media screen and (min-width: 320px){
    .footer-main{
        width: 320px;
        height: 664px;
        padding-top: 96px;
        padding-left: 16px;
        padding-right: 16px;
        
    }
}
    

.footer-logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   
    margin-bottom: 16px;
}


.logo-studio-lower {
    color: #f4f4fd;
}

.footer-container{

}
@media screen and (min-width: 320px) {
    .footer-container {
        text-align: center;
        margin-bottom: 72px;
    }
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
}

.footer-social {

}
@media screen and (min-width: 320px){
.footer-social{
    text-align: center;
}
}

.footer-social-name{
color: #FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.footer-social-list {
display: flex;
gap: 16px;
border: none;
}
@media screen and (min-width: 320px){
.footer-social-list{
    justify-content: center;
    margin-bottom: 72px;
}
}
.footer-social-item{
width: 40px;
height: 40px;
}

.footer-social-item-icon{
    text-decoration: none;
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item-icon:hover{
    background-color: #31D0AA;
}

.footer-social-item-icon:focus{
background-color: #31D0AA;
}

.footer-social-icon{
fill: #f4f4fd;
}

.form-footer{
width: 453px;
margin: 0 auto;
}
@media screen and (min-width: 320px){
    .form-footer{
        width: 288px;
        height: 136px;
       text-align: center;
    }
}
    
.form-text{
color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.form{

gap: 24px;
align-items: center;

}
.form-email{
    background-color: #2E2F42;
    flex-shrink: 0;
     border-radius: 4px;
     border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    border: none;
}


.form-container input{
    width: 264px;
    height: 40px;
    padding-left: 16px;
    border-radius: 4px;
}
.form-input {
width: 264px;
height: 40px;
color: #ffffff;
font-size: 12px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: transparent;
padding-left: 16px;
border: 1px solid #ffffff;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}
@media screen and (min-width: 320px){
.form-input{
    width: 288px;
    margin-bottom: 16px;
}
}

.placeholder{
color: #ffffff;
}
.form-btn{
    
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

}

.form-icon-frame{
    margin-left: 16px;
    fill: #FFFFFF;
}
.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.40);
z-index: 100;
opacity: 0;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.is-open{
opacity: 1;
pointer-events: auto;
}

.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 408px;
min-height: 584px;
background-color: #FCFCFC;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.btn-close{
position: absolute;
top: 24px;
right: 24px;
display: flex;
justify-content: center;
align-items: center;
width: 24px;
height: 24px;
border-radius: 50%;
background-color: #E7E9FC;
fill: #2E2F42;
border: 1px solid rgba(0, 0, 0, 0.10);
padding: 0;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.btn-close:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.btn-close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-text{
display: inline-block;
color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.backdrop-form{

}
.modal-form-items{
position: relative;
margin-bottom: 8px;
}
.modal-form-label{
    position: relative;
    display: block;
    flex-direction: column;
    width: 360px;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    fill: #2E2F42;
    margin-bottom: 4px;
}

.modal-form-input-main{
    position: relative;
}

.modal-form-input{
position: relative;
width: 100%;
height: 40px;
padding-left: 38px;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline: transparent;
}
.modal-form-input:focus{
border-color: #4D5AE5;
}

.modal-form-icon-name{
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon-name{
    fill: #4D5AE5;
}

.modal-form-items-coment{
margin-bottom: 16px;
}
.modal-textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-items-checkbox{
    margin-bottom: 24px;
}

.modal-textarea:focus{
    border-color: #4D5AE5;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.checkbox-label-check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.checkbox:checked + .checkbox-label > .checkbox-label-check {
    background-image: url(../images/click.svg);
    background-color: #404BBF;
    background-repeat: no-repeat;
    background-position: center;
    fill: #F4F4FD;
    border-color: #404BBF;
    border: none;
    width: 16px;
    height: 16px;
}


.check-link {
    color: #4D5AE5;
}

.modal-check{
    display: inline-flex;
    align-items: center;
    fill: none;
    stroke-width: 1px;
    stroke: rgba(46, 47, 66, 0.40);
}

.modal-check-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}